.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.card-container {
  width: 278px;
  height: 460px;
  background-color: #ffffff;
  border-top: 5px solid #05a1c0;
  padding-top: 20px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
}

.card-wrapper {
  height: 100%;
}

.card-upper {
  height: 70%;
  padding: 0 22px;
}

.card-upper h2 a {
  font-size: 1.5rem;
  text-decoration: none;
}

.card-upper p {
  margin: 22px 0;
  font-size: 0.875rem;
  line-height: 1.2em;
}

.button-section {
  margin-bottom: 12px;
}

.button-section h3 {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.button-section div button {
  background-color: #ffffff;
  border: 2px solid #e9003c;
  color: #e9003c;
  font-size: 0.75rem;
  padding: 0.3em 1.1em;
  font-weight: 700;
  margin-right: 8px;
  transition: 0.2s background-color;
}

.button-section div button:hover {
  color: #ffffff;
  background-color: #e9003c;
}
.button-section div a {
  font-size: 0.875rem;
}

.card-lower {
  height: 30%;
  background-color: #05a1c0;
}
.card-lower img {
  height: 100%;
  display: block;
  margin: auto;
}

@media (max-width: 270px) {
  .card-container {
    height: auto;
  }
  .card-upper {
    height: auto;
  }
  .card-lower {
    height: 70px;
  }
  .card-lower img {
    max-height: 100%;
  }
  .button-section div {
    display: flex;
    flex-direction: column;
  }
  .button-section div button {
    margin-bottom: 8px;
  }
}
