*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  font-family: "Gotham A", "Gotham B", "Helvetica";
  margin: 50px 0px;
}

section {
  width: 100%;
  padding: 0px 13px;
}

.wrapper {
  width: min(1160px, 100%);
  margin: auto;
}

button:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 40px;
  padding: 0px 16px;
}
a {
  color: #000000;
}
